.chat-container {
    background-color: #111;
    border: 2px solid #444;
    padding: 20px;
    width: 90%; /* Amplio para uso general */
    max-width: 600px;
    margin: 20px auto;
    height: auto; /* Ajusta automáticamente la altura */
    overflow-y: auto;
    color: #ddd;
    text-align: left;
    font-size: 16px; /* Tamaño de fuente adecuado para la legibilidad */
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Sombra suave para profundidad */
}

#chatMessages {
    list-style: none;
    padding: 0;
}

#chatMessages li {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

strong {
    color: #f55;
}

@media (max-width: 600px) {
    .chat-container {
        width: 95%; /* Aumenta el ancho para dispositivos móviles */
        margin: 5px auto; /* Reduce los márgenes vertical y horizontal */
        padding: 10px; /* Adecuado para tocar en dispositivos táctiles */
    }
    #chatMessages li {
        font-size: 14px; /* Asegura que el texto es legible sin ser demasiado grande */
    }
}
